{% load calculations %}
{% load static %}

<!DOCTYPE html>
<html style="background: url({% static 'images/background.jpg' %}) no-repeat center center fixed; background-size: cover;">
  <head>
    <meta charset="utf-8">
    <title>The Jog Log</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body style="background-color: transparent !important">
    <div class="container">
      <ol class="breadcrumb my-4" style="background-color: transparent;">
        <li style="font-size: xx-large;">My Runs</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th>Date</th>
          <th>Distance (km)</th>
          <th>Time (mins)</th>
          <th>Calories</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
          <tr>
              <td class="align-middle">{{ log.date }}</td>
              <td class="align-middle">{{ log.distance }}</td>
              <td class="align-middle">{{ log.time }}</td>
              {% calculate_total_calories log.distance log.time log.weight as calories %}
              <td class="align-middle">{{ calories|floatformat:"0" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </body>
</html>